* {
    font-family: "Fira Sans Condensed";
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat'
  }
  body {
    color: #fff
  }
  a{
    transition: all .3s ease-in-out;
    color: #ffa039
  }
  a:hover {
    color: #ffa039
  }

  .theme-twitter {
    --color-bg-primary: #15202B;
    --color-bg-primary-light: #172D3F;
    --color-bg-accent: #1B91DA; 
    --color-bg-accent-light: #1B91DA; 
    --color-bg-secondary: #657786;
    --color-text-link: #1B91DA;    
    --color-bg-compliment: #112b48;
    --color-bg-default: #192734;
    --color-bg-inverse: #1B91DA;
    --color-text-primary: #fff;
    --color-text-secondary: #f2f2f2;
    --color-text-default: #e9e9e9;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #1B91DA;
    --color-text-inverse-soft: #1B91DA;
  }

  .theme-dark {
    --color-primary: #36bc99;
    --color-primary-light-20: #5ec9ad;
    --color-primary-light-40: #86d7c2;
    --color-primary-light-60: #afe4d6;
    --color-text: var(--text-white);
    /* -snip- */
  }
  
  .theme-light {
    --color-primary: #226ce0;
    --color-primary-light-20: #226ce0;
    --color-primary-light-40: #226ce0;
    --color-primary-light-60: #226ce0;
    --color-text: var(--text-white);
    /* -snip- */
  }
  
  .theme-neo {
    /* -snip- */
  }